### Sum of all items in a list

In [1]:
lst = ['renu','6','text','8','cherry']
add = lst[0]+lst[1]+lst[2]+lst[3]+lst[4]
print('sum of list =', add)

sum of list = renu6text8cherry

In [2]:
n = [5,8,6,9]
i = 0
sum = 0
while i<len(n):
    sum += n[i]
    i+=1
print('sum of list =', sum)

sum of list = 28

### Multiply all items in list

In [3]:
n = [2,3,4,5]
i = 0
mul = 1
while i<len(n):
    mul *= n[i]
    i+=1
print('multiplication of list =', mul)

multiplication of list = 120

In [4]:
n = [1,'Renu',3]
mul = n[0]*n[1]*n[2]
print('multiplication of list =', mul)

multiplication of list = RenuRenuRenu

### Largest number in list

In [5]:
n = [55,17,73,42]
print(n)
print('Largest number in list =', max(n))

[55, 17, 73, 42]
Largest number in list = 73

### Smallest number in list

In [6]:
n = [55,17,73,42]
print(n)
print('Smallest number in list =', min(n))

[55, 17, 73, 42]
Smallest number in list = 17

### Count of strings in a list

In [7]:
lst = ['renu','6','text','8','cherry']
count = 0
i = 0
for i in range(len(lst)):
    count += 1
print('number of strings in list =', count)

number of strings in list = 5

In [8]:
lst = ['aba','cdc','efe','ghg','aba']
count = 0
i = 0
for i in range(len(lst)):
    count += 1
print('number of strings in list =', count)

number of strings in list = 5

### Check List empty or not

In [9]:
n=list(input('Enter items as list :'))
print(n)
if len(n)==0:
    print('list is empty')
else :
    print('List is not empty')

Enter items as list :
[]
list is empty

### Remove duplicates from list

In [10]:
m = list(input('Enter list items:'))
l = []
for i in m:
    if i not in l:
        l.append(i)
print(l)

Enter list items:2468436
['2', '4', '6', '8', '3']

### Common elements in list

In [11]:
l1 = list(input('Enter list 1:'))
l2 = list(input('Enter list 2:'))
l3 = []
for i in l1:
    for j in l2:
        if i==j:
            l3.append(i)
if len(l3)==0:
    print("No Common elements")
else:
    print("Common elements:", l3)

Enter list 1:1768
Enter list 2:2478
Common elements: ['7', '8']

### Multiply whole list by 10

In [12]:
n = [2,8,7,1,6]
i = 0
m = []
for i in range(len(n)):
    mul = 10
    mul*=n[i]
    m.append(mul)
print(m)

[20, 80, 70, 10, 60]

### square of numbers b/w 0-10 using list comprehension

In [13]:
sq = [i**2 for i in range(11)]
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Extract numbers from string using list comprehension

In [14]:
n = input('Enter string:')
m = [int(i) for i in n if i.isdigit()]
print(m)

Enter string:mango 4 cherry 8
[4, 8]